node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
*.md
**/*.md
**/.DS_Store
**/Thumbs.db
**/*.log
**/*.swp
**/*.swo
**/*.tmp
**/tmp
**/coverage
**/.vscode
**/.idea
**/npm-debug.log*
**/yarn-error.log*
**/.env*
**/README*
**/tests
**/test
**/__tests__
**/.cache
**/.parcel-cache
**/dist
**/build
**/.next
**/out
